/* Sbotyles specific to the A Propos page */

body {
  max-width: 1920px;
  margin: 0;
  min-height: 100vh;
  background: #333;
  align-items: center;
  justify-content: center;
  background: url(image/qwqw.jpg);
  background-attachment: fixed;
  background-size: cover;
}

* {
  box-sizing: border-box;
}
.col66 {
  width: 66.66%;
  float: left;
  font-size: 20px;
  margin-top: 92px;
  color: white;
}

.col33 {
  float: left;
  width: 33%;
}

.col34 {
  float: left;
  width: 33%;
}

.col33 img {
  width: 370px;
  margin-left: -20px;
  margin-top: 100px;
  border-radius: 10px;
}

.lambo {
  width: 400px;
  margin-left: -37px;
  margin-top: 100px;
  border-radius: 10px;
}

/* debut page index*/
.container1-text {
  position: absolute;
  right: 50px;
  top: 50px;
  font-family: "Nova Square", sans-serif;
}

.container1-text h1 {
  font-size: 4em;
  color: #ffffffa4;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-left: 10px;
}

.container1-text p {
  font-size: 2em;
  color: #ffffffa4;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-left: 10px;
}

/* fin page index */

.container-2 {
  max-width: 1080px;
  margin: auto;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 100vh;
}

.sidebar nav ul {
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
  max-height: 100%;
  max-width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: solid 2px;
  border-image: linear-gradient(to right, #7a000c, #ff0019) 1;
}

.sidebar {
  border-radius: 10px;
}

.sidebar nav ul li a {
  display: block;
  font-family: "Nova Square", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff5b;
  position: relative;
  padding: 25px 20px 25px 38px;
  border-radius: 10px;
}

.sidebar nav ul li a:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 0%;
  height: 100%;
  background: #222222;
  border-radius: 40px 0px 0px 40px;
  z-index: -1;
  transition: all 300ms ease-in-out;
  border-radius: 10px;
}

.sidebar nav ul li a:hover {
  color: #b82828;
}

.sidebarnav ul li a:hover:before {
  width: 95%;
}

.content-2 {
  font-family: "Nova Square", sans-serif;
  padding: 15px;
  margin-left: 30px;
}
.content-22 {
  font-family: "Nova Square", sans-serif;
  z-index: 999;
  max-width: 600px;
}

.content-22 h1 {
  border: 2px solid #ffffff;
  padding: 10px;
  background-color: #7a000c;
  display: inline-block;
}

.apropos h1 {
  position: relative;
  left: 470px;
  font-family: "Nova Square", sans-serif;
  color: white;
  margin-top: -1px;
  padding-top: 30px;
}

.h1-ultime {
  left: 470px;
  font-family: "Nova Square", sans-serif;
  color: white;

  border: 2px solid #ffffff;
  padding: 10px;
  background-color: #7a000c;
  display: inline-block;
  position: relative;
  left: 487px;
  font-size: 35px;
}

/* debut portfolio */

.col-1-3:after,
.gallery-box:after {
  content: "";
  display: table;
  clear: both;
}
.col-1-3 {
  width: 100%;
  float: left;
}
.gallery-box img {
  padding: 4px;
  vertical-align: top;
  transition: all 0.5s ease;
}
.gallery-box:hover img {
  opacity: 0.6;
}
.gallery-box img:hover {
  opacity: 1;
}
@media (min-width: 480px) {
  .col-1-3 {
    width: 50%;
  }
  .col-1-3:first-of-type {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-1-3,
  .col-1-3:first-of-type {
    width: 33.33%;
  }
}

.col-1-3:after,
.gallery-box:after {
  content: "";
  display: table;
  clear: both;
}

.col-1-3 {
  width: 100%;
  float: left;
}

.gallery-box img {
  padding: 4px;
  vertical-align: top;
  transition: all 0.5s ease;
}

.gallery-box:hover img {
  opacity: 0.6;
}

.gallery-box img:hover {
  opacity: 1;
}

/* Responsive styles for screens smaller than 480px (adjust as needed) */
@media (max-width: 480px) {
  .col-1-3 {
    width: 100%;
  }
}

/* Responsive styles for screens between 481px and 767px (adjust as needed) */
@media (min-width: 481px) and (max-width: 767px) {
  .col-1-3 {
    width: 50%;
  }
}

/* Responsive styles for screens larger than or equal to 768px (adjust as needed) */
@media (min-width: 768px) {
  .col-1-3,
  .col-1-3:first-of-type {
    width: 33.33%;
  }
}

/* fin portfolio */

/* debut contact */
.container {
  min-width: 324px;
  margin: 50px auto 0px;
}

.row {
  margin: 0 0 1em 0;
  padding: 0 2.5em;
}
.row.header {
  padding: 5.5em 2.5em;

  background: url(image/ferrari.jpg) left -80px;
  color: #fff;
  background-size: cover;
}
.row.body {
  padding: 10.5em 0.5em 10.5em;
}

.row.header ul li {
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 5px;
  font-size: 30px;
  font-family: "Nova Square", sans-serif;
}
.row.header a {
  color: white;
  text-decoration: none;
}
.row.header h1 {
  margin-left: 40px;
  font-family: "Nova Square", sans-serif;
  letter-spacing: 2px;
}

.fa-solid {
  margin-right: 25px;
}
.pull-right {
  float: right;
}

#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  font: 300 60px "Nova Square", sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.space {
  margin-bottom: 30px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: "Lato";
  font-weight: 400;
}

.form-control,
textarea {
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
  width: 400px;
  height: 35px;
  border-radius: 5px;
  margin-bottom: 15px;
  border: solid 2px #bbb;
  font-family: "Nova Square", sans-serif;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.alt-send-button {
  height: 34px;
  transition: all 0.2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font-family: "Nova Square", sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font-family: "Nova Square", sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
  font-size: 22px;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}

/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27, 27, 27);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px "Oswald", sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255, 255, 255, 0.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container,
  .form-horizontal {
    margin: 0 auto;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {
  .direct-contact-container,
  .form-wrapper {
    float: none;
    margin: 0 auto;
  }

  .form-control,
  textarea {
    margin: 0 auto;
    max-width: 350px;
  }

  .name,
  .email,
  textarea {
    width: 280px;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}
/* fin contact */

/* debut services */

.footer-section a {
  color: white;
  font-family: "nova square", sans-serif;
}

section {
  padding: 60px 0;
  min-height: 100vh;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bouton {
  background-color: #7a000c;
  color: #fff;
  border: none;
  top: 0%;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #000000;
  border: 2px solid #fff;
  outline: 2px solid #000;
  padding: 10px;
  position: relative;
  top: 36px;
}

.site-heading h2 {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  margin-top: 20px;
  font-size: 50px;
  font-family: "nova square", sans-serif;
}

.site-heading h2 span {
  color: #7a000c;
  font-family: nova square;
}

.site-heading h4 {
  display: inline-block;
  padding-bottom: 20px;
  position: relative;
  text-transform: capitalize;
  z-index: 1;
}

.site-heading h4::before {
  background: #7a000c none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
}

.site-heading {
  margin-bottom: 60px;
  overflow: hidden;
  margin-top: -5px;
}

.carousel-shadow .owl-stage-outer {
  margin: -15px -15px 0;
  padding: 15px;
}

.we-offer-area .our-offer-carousel .owl-dots .owl-dot span {
  background: #ffffff none repeat scroll 0 0;
  border: 2px solid;
  height: 15px;
  margin: 0 5px;
  width: 15px;
}

.we-offer-area .our-offer-carousel .owl-dots .owl-dot.active span {
  background: #7a000c none repeat scroll 0 0;
  border-color: #7a000c;
}

.we-offer-area .item {
  background: #ffffff none repeat scroll 0 0;
  border-left: 2px solid #7a000c;
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -o-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  overflow: hidden;
  padding: 30px;
  position: relative;
  z-index: 1;
  font-family: "nova square", sans-serif;
}

.we-offer-area.text-center .item {
  background: #ffffff none repeat scroll 0 0;
  padding: 67px 40px 64px;
}

.we-offer-area.text-center .item i {
  background: #7a000c none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  font-size: 40px;
  height: 80px;
  line-height: 80px;
  position: relative;
  text-align: center;
  width: 80px;
  z-index: 1;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  margin-bottom: 25px;
}

.we-offer-area.text-center .item i::after {
  border: 2px solid #3a3939;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: "";
  height: 90px;
  left: -5px;
  position: absolute;
  top: -5px;
  width: 90px;
  z-index: -1;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.we-offer-area.item-border-less .item {
  border: medium none;
}

.we-offer-area .our-offer-items.less-carousel .equal-height {
  margin-bottom: 30px;
}

.we-offer-area.item-border-less .item .number {
  font-family: "nova square", sans-serif;
  font-size: 50px;
  font-weight: 900;
  opacity: 0.1;
  position: absolute;
  right: 30px;
  top: 30px;
}

.our-offer-carousel.center-active .owl-item:nth-child(2n) .item,
.we-offer-area.center-active .single-item:nth-child(2n) .item {
  background: #3a3939 none repeat scroll 0 0;
}

.our-offer-carousel.center-active .owl-item:nth-child(2n) .item i,
.our-offer-carousel.center-active .owl-item:nth-child(2n) .item h4,
.our-offer-carousel.center-active .owl-item:nth-child(2n) .item p,
.we-offer-area.center-active .single-item:nth-child(2n) .item i,
.we-offer-area.center-active .single-item:nth-child(2n) .item h4,
.we-offer-area.center-active .single-item:nth-child(2n) .item p {
  color: #ffffff;
}

.we-offer-area .item i {
  color: #3a3939;
  display: inline-block;
  font-size: 60px;
  margin-bottom: 20px;
}

.we-offer-area .item h4 {
  font-weight: 600;
  text-transform: capitalize;
}

.we-offer-area .item p {
  margin: 0;
  margin-bottom: 25px;
}

.we-offer-area .item i,
.we-offer-area .item h4,
.we-offer-area .item p {
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.we-offer-area .item::after {
  background: #3a3939 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  width: 100%;
  z-index: -1;
}

.we-offer-area .item:hover::after {
  left: 0;
}

.we-offer-area .item:hover i,
.we-offer-area .item:hover h4,
.we-offer-area .item:hover p {
  color: #ffffff !important;
}

.we-offer-area.text-center .item:hover i::after {
  border-color: #ffffff !important;
}

.we-offer-area.text-center .item:hover i {
  background-color: #ffffff !important;
  color: #3a3939 !important;
}

.we-offer-area.text-left .item i {
  background: #3a3939 none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  font-size: 60px;
  height: 100px;
  line-height: 100px;
  margin-bottom: 30px;
  position: relative;
  width: 100px;
  z-index: 1;
  text-align: center;
}

.we-offer-area.text-left .item i::after {
  border: 2px solid #3a3939;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: "";
  height: 120px;
  left: -10px;
  position: absolute;
  top: -10px;
  width: 120px;
}
.container3 {
  max-width: 600px;
  background: #838282da;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.hr {
  border-color: #7a000c;
}

.apropos-hr {
  border-color: #7a000c;
  width: 15%;
}

.apropos {
  margin-bottom: 40px;
}

.container3::after {
  content: "";
  display: block;
  clear: both;
  margin-bottom: 30px;
}
.container3 h2 {
  margin-bottom: 10px;
}
.container3 p {
  line-height: 1.4;
}

.gallery-box img {
  width: 350px;
  height: 300px;
  object-fit: cover;
  float: left;
  border-radius: 20px;
  margin: 0 20px 5px 0;
}

/* fin service */

/* Debut temoignage */

.testimonial {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px;
  margin-bottom: 50px;
  padding-top: 25px;
}
.testimonial .card {
  position: relative;
  margin: 0 auto;
  width: 350px;
  background: #333;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 10px 40px rgba(7, 7, 7, 0.5);
  overflow: hidden;
  width: 400px;
  border-radius: 20px;
  color: whitesmoke;
  font-family: "Nova Square", sans-serif;
}

.testimonial .card .layer {
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(#520707, #ff0000);
  z-index: 1;
  transition: 0.5s;
}
.testimonial .card:hover .layer {
  top: 0;
}
.testimonial .card .content {
  position: relative;
  z-index: 2;
}
.testimonial .card .content p {
  font-size: 18px;
  line-height: 24px;
}
.testimonial .card .content .image {
  width: 128px;
  height: 128px;
  margin: 0 auto;
  overflow: hidden;
  border: 4px solid #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.testimonial .card .content .details h2 {
  font-size: 18px;
}
.testimonial .card .content .details span {
  color: #ff1010;
  font-size: 14px;
  transition: 0.5s;
}
.testimonial .card:hover .content .details span {
  color: #fff;
}

/* fin temoignage */
/*  #SERVICE1*/

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  z-index: 1000;
}
header .logo {
  position: relative;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/* .banner:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 400px;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
} */
.banner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  pointer-events: none;
}
.banner .textbox {
  position: relative;
  max-width: 550px;
  z-index: 2;
}
.banner .textbox h3 {
  color: #fff;
  font-size: 3em;
}

.banner .textbox p {
  color: #fff;
  font-size: 1.1em;
  margin: 5px 0 25px;
}
.banner .textbox a {
  position: relative;
  display: inline-block;
  background: #fff;
  color: #111;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}
.banner .videoBox {
  position: relative;
  background: #fff;
  margin-left: 30px;
  width: 100%;
  height: 350px;
  z-index: 1;
}

.videoBox img {
  width: 600px;
  height: 800px;
}

.textbox ol li {
  color: white;
}

.textbox h1 {
  color: white;
}
.textbox h4 {
  color: white;
}
.banner .videoBox video {
  opacity: 1;
}
@media (max-width: 991px) {
  header {
    padding: 20px 50px;
  }
  .banner {
    padding: 150px 50px 0;
    flex-direction: column;
  }
  .banner:before {
    display: none;
  }
  .banner .textBox {
    max-width: 100%;
  }
  .banner .textBox h3 {
    font-size: 2.5em;
  }
  .banner .videoBox {
    width: 100%;
    height: 200px;
    margin: 40px 0 100px;
  }
}

/* debut footer  */

.footer {
  top: 100px;
  background: #242424;
  color: #fff;
  z-index: 1;
  --footer-background: #7a000c;
  display: grid;
  position: relative;
  grid-area: footer;
  /* max-width: 1080px;
  margin: auto; */
}

.footer .content {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
  padding: 8rem;
  background: var(--footer-background);
}

.footer .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background);
  filter: url("#blob");
}

.footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
    bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}

@keyframes bubble-size {
  0%,
  75% {
    width: var(--size, 7rem);
    height: var(--size, 7rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@keyframes bubble-move {
  0% {
    bottom: -1px;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}

.footer-content {
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: var(--footer-background);
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section.links ul li a {
  color: #fff;
  align-items: right;
  justify-content: right;
}

.footer-section.links {
  position: relative;
  left: 600px;
}

.footer h6 {
  font-size: 24px;
  font-family: "Nova Square", sans-serif;
  border: 2px solid white;
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
}

.footer p {
  font-size: 16px;
  font-family: "Nova Square", sans-serif;
}

.footer ul {
  list-style: none;
  left: 20px;
}

.footer ul li {
  margin-bottom: 10px;
  color: #f8f8f8;
}

.contact-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ffffff;
  background-color: #aaaaaa;
  border-radius: 10%;
}

.btn-primary {
  background-color: #7a000c;
  color: #fff;
  border: none;
  top: 0%;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #000000;
  border: 2px solid #fff;
  outline: 2px solid #000;
  padding: 10px;
}

.btn-primary:hover {
  transition: 100ms;
  background-color: #333;
  color: #ff5733;
  border: 1px solid #7a000c;
}

.footer-bottom {
  background: #222;
  text-align: center;
  padding: 0 0;
}

@media only screen and (max-width: 1030px) {
  .col33 {
    float: none;
    width: 100%;
  }

  .col33 img {
    width: 100%;
    height: 100%;
  }
  .col66 {
    float: none;
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .container1-text {
    left: 36px;
    top: 531px;
  }

  .testimonial {
    position: relative;
    left: 150px;
  }

  .container-2 {
    position: relative;
    margin: 0 auto;
    max-width: 400px;
  }

  .col-1-3 {
    flex-wrap: wrap;
    position: relative;
    left: 150px;
  }
  .col-1-3 img {
    width: 450px;
  }

  .footer {
    position: relative;
    left: 100px;
    width: 400px;
  }
  .footer-content {
    position: relative;
    left: -101px;
    width: 735px;
  }
  body {
    margin: 0;
    min-height: 100vh;
    background: #333;
    align-items: center;
    justify-content: center;
    background: url(image/qwqw.jpg);
    background-attachment: fixed;
    background-size: cover;
    max-width: 350px;
  }
}
